@import url('https://fonts.cdnfonts.com/css/breathing');
.titulo{
    font-family: 'Breathing', sans-serif;
    font-style: normal;
    color: white;
}
.botao{
    font-family: 'Maharlika', sans-serif;
    font-weight: 300;
}
.linha-pontilhada {
  border-top: 2px dotted rgb(255, 255, 255); 
  width: 20vw;  
  margin: 20px 0;
}