

*{
    padding: 0;
    margin: 0;
}
.container{
    background-image: url("/home/fundo.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.707);
    height: 50vh;
    width: 20vw;
    border: transparent 2px solid;
    border-radius: 7px;
}
.sobrenos{
    font-family: 'Maharlika', sans-serif;
    font-family: "Abel", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 15px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.sobrenos:hover{
  color: rgb(0, 121, 168);
}